@page
@model Agenda2.Pages.Eventos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Evento.Titulo" class="control-label"></label>
                <input asp-for="Evento.Titulo" class="form-control" />
                <span asp-validation-for="Evento.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.DataInicio" class="control-label"></label>
                <input asp-for="Evento.DataInicio" class="form-control" />
                <span asp-validation-for="Evento.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.DataFim" class="control-label"></label>
                <input asp-for="Evento.DataFim" class="form-control" />
                <span asp-validation-for="Evento.DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Usuario_Id" class="control-label"></label>
                <select asp-for="Evento.Usuario_Id" class ="form-control" asp-items="ViewBag.Usuario_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
